.container {
  background-color: red;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperLoginSignin {
  background-color: white;
  height: 300px;
  width: 800px;
}

.containerLoginSignin {
  display: flex;
  flex-direction: column;
}
