body {
  background-color: rgba(84, 22, 132, 0.403);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapperLoginSignin {
  background-color: white;
  border-radius: 30px;
  height: 300px;
  padding: 2rem;
  width: 800px;
}

.containerLoginSignin {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.chat-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.containerLogin {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.chat-header {
  flex: 0 0 10%;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.chat-content {
  flex: 0 0 85%;
  display: flex;
  height: 80%;
  width: 95%;
}

.chat-lobbies {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

.chat-messages {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
  height: 100%;
}

.chat-lobby {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 90%;
  border-radius: 20px;
}

.chat-lobby:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages-header {
  flex: 0 0 10%;
}

.chat-messages-content {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 100%;
}
.chat-messages-footer {
  flex: 0 0 10%;
}

.container-message {
  width: 100%;
}

.chat-message {
  border-radius: 10px;
  background-color: #ccc;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.own-container-message {
  display: flex;
  justify-content: flex-end;
}

.own-chat-message {
  background-color: lightblue;
}

.input-message-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100% !important;
}

.form-control {
  flex: 0 0 90% !important;
  height: 100% !important;
}

.send-button-container {
  flex: 0 0 10% !important;
  display: flex;
  justify-content: center;
  height: 100% !important;
}
