body {
  background-color: rgba(84, 22, 132, 0.403);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapperLoginSignin {
  background-color: white;
  border-radius: 30px;
  padding: 2rem;
  width: 800px;
}

.containerLoginSignin {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.chat-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.containerLogin {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.chat-header {
  flex: 0 0 10%;
  display: flex;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px solid #ccc;
}

.chat-content {
  flex: 0 0 85%;
  display: flex;
  height: 80%;
  width: 95%;
}

.chat-lobbies {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 1rem;
}

.chat-messages {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
  height: 100%;
}

.chat-lobby {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 90%;
  border-radius: 20px;
}

.chat-lobby:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-lobby.active {
  background-color: rgba(84, 22, 132, 0.403);
  color: white;
}

.chat-messages-header {
  flex: 0 0 10%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.chat-messages-content {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}
.chat-messages-footer {
  flex: 0 0 10%;
}

.container-message {
  width: 100%;
  display: flex;
  align-items: end;
}

.chat-message {
  border-radius: 10px;
  background-color: #ccc;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.own-container-message {
  flex-direction: row-reverse;
}

.own-chat-message {
  background-color: lightblue;
}

.input-message-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100% !important;
}

.form-control {
  flex: 0 0 90% !important;
  height: 100% !important;
}

.send-button-container {
  flex: 0 0 10% !important;
  display: flex;
  justify-content: center;
  height: 100% !important;
}

.chat-header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-header-avatar,
.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.chat-header-avatar > img,
.message-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.chat-header-avatar {
  width: 60px;
  height: 60px;
}

.message-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageText-container {
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.logout-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
